/* this is a comment */

body
{
   background-color: #FFFC00;
   opacity: 0.9;

   font-family: "Lucida Console", "Courier New", monospace;
   color: black;
}

form
{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: black;

}

h1
{
    padding: 20px;
}

p
{
    padding: 20px;
}

a:link
{
    color: white;
}

a:visited
{
    color: white;
}

a:active
{
    color:white;
    font-weight: bold;
}

a:hover
{
    text-transform: uppercase;
}

li
{
    display: inline;
}


.button
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.gift
{
    color:#FFFC00;
}

.btn
{
    padding: 15px 32px;
}
